name: A workflow for my Hello World App
on:
  push:
    branches:
      - master
      - develop
permissions:
  contents: write
jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'

      - name: Run Unit Tests
        run: mvn -Dtest=com.napier.sem.AppTest test

#  IntegrationTests:
#    name: Integration Tests
#    runs-on: ubuntu-24.04
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#        with:
#          submodules: recursive
#
#      - name: Set up JDK 18
#        uses: actions/setup-java@v2
#        with:
#          java-version: '18'
#          distribution: 'adopt'
#
#      - name: Run Integration Tests and Generate Coverage
#        run: |
#          docker build -t database ./db
#          docker run --name employees -dp 33060:3306 database
#          mvn -Dtest=com.napier.sem.AppIntegrationTest test
#          docker stop employees
#          docker rm employees
#          docker image rm database

#      - name: CodeCov
#        uses: codecov/codecov-action@v5
#        with:
#          token: 0de44233-36d4-47d7-bf5b-9a8ace64fa99
#          directory: ./target/site/jacoco
#          flags: IntegrationTests
#          verbose: true